<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <title>Url Shortner</title>
  </head>
  <body>
    <div class="container">
      <h1>Url Shortner</h1>
        <form action="/shortUrls" method="post" class="my-4">
          <div class="d-flex mx-3">
            <input
              type="url"
              name="fullUrl"
              id="fullUrl"
              placeholder="Url"
              class="form-control mx-3"
              required
            />
            <button type="submit" class="btn btn-primary">Shrink</button>
          </div>
        </form>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Full Url</th>
            <th>Short Url</th>
            <th>View Count</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td>
              <a href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
            </td>
            <td>
              <a href="<%= shortUrl.short %> " target="_blank"
                ><%= shortUrl.short %></a
              >
            </td>
            <td><%= shortUrl.clicks %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
